/*=============================================STYLES=============================================*/
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.is-hidden {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.section-catalog {
  background-color: #111111;
}

.search-form {
  display: flex;
  justify-content: center;
  position: relative;

  gap: 16px;
}

.search-input {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;

  border-radius: 8px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #b7b7b7;
}

.search-button {
  color: #ffffff;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 50%;
}

.search-button:hover,
.search-button:focus {
  background: #ffffff;
  border-width: 1px;
  border-style: solid;
  border: 1px solid #f87719;
}

.search-icon {
  width: 18px;
  height: 18px;
  fill: transparent;
  stroke: #ffffff;
}

.search-button:hover .search-icon,
.search-button:focus .search-icon {
  stroke: #f87719;
}

.cancel-button:hover .cancel-icon,
.cancel-button:focus .cancel-icon {
  stroke: #282828;
}

.cancel-icon {
  width: 18px;
  height: 18px;
  stroke: #ffffff;
}

.error-information {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;

  text-align: center;
}
.information {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;

  text-align: center;

  color: #ffffff;
}

.arrow-button {
  width: 20px;
  height: 20px;

  background-color: transparent;

  cursor: pointer;
}

.arrow-left-icon {
  width: 20px;
  height: 20px;
}
.arrow-right-icon {
  width: 20px;
  height: 20px;
  rotate: 180deg;
}

.pagination-pages-list {
  display: flex;
  gap: 8px;
}
/*=============================================MOBILE=============================================*/

@media screen and (min-width: 320px) {
  .section-catalog {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .search-form {
    margin-bottom: 16px;
  }

  .search-input {
    width: 224px;
    padding: 12px 20px;
  }

  .cancel-button {
    width: 18px;
    height: 18px;

    position: absolute;
    right: 77px;
    top: 13px;

    background-color: transparent;
    color: #ffffff;

    cursor: pointer;
  }

  .search-button {
    width: 40px;
    height: 40px;

    cursor: pointer;
  }

  .movie-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }

  .item {
    width: 280px;
    height: 406px;

    background-color: teal;
    border-radius: 5px;
  }

  .pagination-wrapper {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    gap: 4px;
  }

  .pagination-button.is-active {
    background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
    border: none;

    color: #ffffff;
  }

  .pagination-button {
    width: 24px;
    height: 24px;

    font-weight: 400;
    font-size: 10px;
    line-height: 1;
    border-radius: 50%;

    background-color: transparent;
    border: 1px solid #b7b7b7;
    color: #b7b7b7;

    cursor: pointer;
  }
}
/*=============================================TABLET=============================================*/

@media screen and (min-width: 768px) {
  .section-catalog {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .search-form {
    margin-bottom: 36px;
  }

  .search-input {
    width: 204px;
    padding: 14px 20px;
  }

  .cancel-button {
    top: 15px;
    right: 300px;
  }

  .search-button {
    width: 44px;
    height: 44px;
  }

  .movie-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    column-gap: 16px;
    row-gap: 32px;

    margin-bottom: 44px;
  }

  .item {
    width: 224px;
    height: 325px;

    margin-bottom: 0;
  }

  .pagination-wrapper {
    gap: 12px;
  }

  .pagination-button {
    width: 40px;
    height: 40px;

    font-size: 14px;
  }
  .arrow-button {
    width: 28px;
    height: 28px;

    background-color: transparent;

    cursor: pointer;
  }

  .arrow-left-icon {
    width: 28px;
    height: 28px;
  }
  .arrow-right-icon {
    width: 28px;
    height: 28px;
  }

  .pagination-pages-list {
    display: flex;
    gap: 16px;
  }

  .error-information {
    width: 513px;
    margin-top: 80px;
  }
  .information {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;

    color: #ffffff;
  }
}
/*=============================================DESKTOP=============================================*/

@media screen and (min-width: 1280px) {
  .section-catalog {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .search-form {
    margin-bottom: 48px;
  }

  .search-input {
    font-size: 16px;
    line-height: 1.18;

    width: 334px;
    padding: 14px 24px;
  }

  .search-button {
    width: 48px;
    height: 48px;
  }
  .search-icon {
    width: 20px;
    height: 20px;
  }

  .cancel-button {
    top: 15px;
    right: 500px;
  }

  .movie-list {
    margin-bottom: 60px;
  }

  .item {
    width: 395px;
    height: 574px;
  }
}
