<section class="section-catalog">
  <div class="main-container">
    <form class="search-form" id="movieSearchForm">
      <input
        name="search"
        type="text"
        id="movieInput"
        class="search-input"
        placeholder="Film"
      />
      <button
        type="button"
        class="cancel-button is-hidden"
        aria-label="Clear input area"
      >
        <svg class="cancel-icon">
          <use href="./images/sprite-catalog.svg#icon-cancel"></use>
        </svg>
      </button>
      <button type="submit" class="search-button" aria-label="Search button">
        <svg class="search-icon">
          <use href="./images/sprite-catalog.svg#icon-search"></use>
        </svg>
      </button>
    </form>

    <div class="error-container is-hidden"></div>

    <ul class="movie-list listListener" id="movieList"></ul>

    <div id="pagination" class="tui-pagination pagination-wrapper"></div>
  </div>
</section>
