<header class="header">
  <div class="container header__container">
    <a href="./index.html" class="link header__logo">
      <div class="container__logo">
        <img
          class="logo-img"
          src="../src/images/logotype-desktop.png "
          alt="logotype"
        />
        <div class="logo-text">Cinemania</div>
      </div>
    </a>

    <nav class="header__nav">
      <ul class="list header__list">
        <li class="header__item home__current">
          <a href="./index.html" class="link header__nav-link">HOME</a>
        </li>
        <li class="header__item">
          <a href="./catalog.html" class="link header__nav-link">CATALOG</a>
        </li>
        <li class="header__item">
          <a href="./library.html" class="link header__nav-link">MY LIBRARY</a>
        </li>
      </ul>

      <!-- MOBILE MENU NAVIGATION BLOCK -->

      <div class="mobile-menu">
        <a href="./index.html" class="link header__logo">
          <img
            class="logo-img"
            src="../src/images/logotype-mobile.png"
            alt="logotype"
          />
        </a>

        <ul class="list mobile-menu__list">
          <li class="mobile-menu__item">
            <a href="./index.html" class="link mobile-menu__link">HOME</a>
          </li>
          <li class="mobile-menu__item">
            <a href="./catalog.html" class="link mobile-menu__link">CATALOG</a>
          </li>
          <li class="mobile-menu__item">
            <a href="./library.html" class="link mobile-menu__link">MY LIBRARY</a>
          </li>
        </ul>
      </div>
    </nav>
    <button id="menu">MENU</button>

    <!-- SWITCHER -->

    <div class="switcher">
      <span class="switcher__ball" width="18" height="18"></span>
      <div class="switch-icon">
        <svg width="14" height="14" class="header__icon-moon">
          <use href="./images/symbol-defs.svg#icon-moon"></use>
        </svg>
      </div>

      <div class="switch-icon">
        <svg width="14" height="14" class="header__icon-sun">
          <use href="./images/symbol-defs.svg#icon-sun"></use>
        </svg>
      </div>
    </div>
  </div>
  <!-- OVERLAY-->
  <div id="overlay"></div>
</header>