<section class="hero">
	<div class="hero-container" id="hero-div">
		<div class="hero-info-wrap">
			<div class="hero-film-title" id="hero-title"></div>
			<div class="stars-container"></div>
			<div class="hero-film-overview" id="hero-overview"></div>
			<div class="hero-btn-wrap" id="hero-btn-div">
				<!-- <button type="button" class="css-btn-trailer">Watch Trailer</button>
            <button type="button" class="css-bnt-info">More Details</button> -->
			</div>
		</div>
	</div>
</section>
<!-- ---------------- -->