<div class="hero-container css-library-hero-container">
    <div class="css-library-hero-info-wrap">
      <div class="hero-film-title css-library-hero-title">Create Your Dream Cinema</div>
      <div class="hero-film-overview css-library-hero-overview">Is a guide to designing a personalized movie theater experience with the right equipment, customized decor, and favorite
      films. This guide helps you bring the cinema experience into your own home with cozy seating, dim lighting, and movie
      theater snacks.</div>
    </div>
  </div>