<div class="modal__backdrop modal__backdrop--hide">
	<article class="modal__container">
		<button class="modal__button-close" type="button">
			<svg class="button-close__icon" aria-label="Close modal window">
				<use href="./images/modal-sprite.svg#icon-close"></use>
			</svg>
		</button>

		<div class="modal__wrapper">
			<img class="modal__poster" src="./images/default.jpg" alt="Poster">

			<div class="modal__description">
				<h2 class="modal__title">Movie's Title</h2>

				<div class="modal__stats">
					<div class="stats__row">
						<p class="stats__name">Vote / Votes</p>
						<p class="stats__data">
							<span class="stats__data-votes">7.3</span>
							<span class="stats__data-separator"> / </span>
							<span class="stats__data-votes">1260</span>
						</p>
					</div>
					<div class="stats__row">
						<p class="stats__name">Popularity</p>
						<p class="stats__data">100.2</p>
					</div>
					<div class="stats__row">
						<p class="stats__name">Genre</p>
						<p class="stats__data">Action Thriller Crime</p>
					</div>
				</div>

				<h3 class="modal__about">About</h3>
				<p class="modal__text">John Wick (Keanu Reeves) takes on his most lethal adversaries yet in the upcoming fourth
					instalment of the series. With the price on his head ever increasing, John Wick uncovers a path to defeating
					The High Table. But before he can earn his freedom, Wick must face off against a new enemy with powerful
					alliances across the globe and forces that turn old friends into foes.</p>

				<div class="modal__buttons-wrapper">
					<div class="modal__button-border">
						<button class="modal__button--filled" type="button">Add to my library</button>
					</div>
					<div class="modal__button-border">
						<button class="modal__button--outlined" type="button">Watch trailer</button>
					</div>
				</div>
			</div>
		</div>

	</article>
</div>