<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../css/movie-modal.css" rel="stylesheet" />
</head>
<body>
  <button type="button" id="open-modal">модалка</button>
    <div class="backdrop is-hidden" data-modal>
        <div class="modal-about-film">
            <button type="button" class="modal__close-btn" data-modal-close>
                <svg class="modal__close-icon" width="30" height="30" aria-label="Close">
                  <use href="../images/Modal-Close.svg#close"></use>
                </svg>
              
              </button>
              <div class="film-info-wrapper">
                <img
                  class="modal-film-img"
                  id="modal-film-poster-path"
                  src="https://image.tmdb.org/t/p/w500/ulgKdif3ubMACDltr8VZy6fyVjW.jpg"
                  alt=""
                /> 
                <div class="film-text-info-wrapper">
                    <h3 class="modal-film-title" id="modal-film-title">A FISTFUL OF LEAD</h3>
                    <ul class="modal-film-info-list">
                      <li class="modal-film-info-item">
                        <p class="modal-film-info-label">Vote / Votes</p>
                        <p class="modal-film-info-desc">
                          <span
                            class="desc-voted desc-vote-average"
                            id="modal-film-vote-average"
                            >7.3</span
                          >
                          /
                          <span class="desc-voted desc-votes-count" id="modal-film-vote-count"
                            >1260</span
                          >
                        </p>
                      </li>
                      <li class="modal-film-info-item">
                        <p class="modal-film-info-label">Popularity</p>
                        <p class="modal-film-info-desc" id="modal-film-popularity">100.2</p>
                      </li>
                  
                      <li class="modal-film-info-item">
                        <p class="modal-film-info-label">Genre</p>
                        <p
                          class="modal-film-info-desc film-info__desc--normal-text"
                          id="modal-film-genre"
                        >
                          Western
                        </p>
                      </li>
                    </ul> 
                    <p class="modal-film-info-label">ABOUT</p>
                    <div class="container-film-descr">
                    <p class="film__desc film__description" id="modal-film-description">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>
      </div>
        <button class="btn--film btn_watched watched_send" type="button">Add to my library</button>
                </div>    
        </div>
    </div>
    <script src="../js/movieDetailProvider.js" type="module"></script>
    <script src="../js/open-Modal.js" type="module"></script>
</body>
</html>