<div class="modal-info-film-backdrop modal-film-is-hidden" data-modal>
  <div class="modal-about-film">
    <button type="button" class="modal__close-btn" data-modal-close>
      <svg class="modal__close-icon" width="30" height="30" aria-label="Close">
        <use href="./images/Modal-Close.svg#close"></use>
      </svg>
    </button>
    <div class="modal-film-info-wrapper">
      <div class="modal-wrapper-img">
        <img
          class="modal-film-img"
          id="modal-film-poster-path"
          src="https://image.tmdb.org/t/p/w500/ulgKdif3ubMACDltr8VZy6fyVjW.jpg"
          alt=""
        />
      </div>
      <div class="film-text-info-wrapper">
        <h3 class="modal-film-title" id="modal-film-title">
          A FISTFUL OF LEAD
        </h3>
        <ul class="modal-film-info-list">
          <li class="modal-film-info-item">
            <p class="modal-film-info-label">Vote / Votes</p>
            <p class="modal-film-info-desc">
              <span
                class="desc-voted desc-vote-average"
                id="modal-film-vote-average"
                >7.3</span
              >
              /
              <span
                class="desc-voted desc-votes-count"
                id="modal-film-vote-count"
                >1260</span
              >
            </p>
          </li>
          <li class="modal-film-info-item">
            <p class="modal-film-info-label">Popularity</p>
            <p class="modal-film-info-desc" id="modal-film-popularity">100.2</p>
          </li>

          <li class="modal-film-info-item">
            <p class="modal-film-info-label">Genre</p>
            <p
              class="modal-film-info-desc film-info__desc--normal-text"
              id="modal-film-genre"
            >
              Western
            </p>
          </li>
        </ul>
        <p class="modal-film-info-label">ABOUT</p>
        <div class="container-film-descr">
          <p class="modal-film__description" id="modal-film-description">
            Four of the West’s most infamous outlaws assemble to steal a huge
            stash of gold from the most corrupt settlement of the gold rush
            towns. But not all goes to plan one is killed and the other three
            escapes with bags of gold hide out in the abandoned gold mine where
            they happen across another gang of three – who themselves were
            planning to hit the very same bank! As tensions rise, things go from
            bad to worse as they realise the bags of gold are filled with
            lead... they’ve been double crossed – but by who and how?
          </p>
        </div>
        <button id="modal-film-add-or-rm" type="button">
          Add to my library
        </button>
      </div>
    </div>
  </div>
  <script src="./js/movieDetailProvider.js" type="module"></script>
  <script src="./js/movieModal.js" type="module"></script>
</div>
