<!-- ! Виріжте звідси весь блок STAR SVG TEMPLETE та вставте його одраху після тега <BODY> на кожній сторінці, де має використовуватись Stars-Rating. 
		! This entire block should be first on every page that uses a Stars-rating -->
<!-- STAR SVG Template - START - НЕ ЗМІНЮВАТИ - DON'T CHANGE!!! -->
<div class="star-template--hidden">
	<svg style="width: 0; height: 0;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 16">
		<defs>
			<!-- Stroke -->
			<linearGradient id="star-stroke" x1="3.375" x2="13.5" y1="1.625" y2="15.5" gradientUnits="userSpaceOnUse">
				<stop stop-color="#f84119" />
				<stop offset="1" stop-color="#f89f19" stop-opacity=".68" />
			</linearGradient>

			<!-- Complete Fill -->
			<linearGradient id="star-fill--complete" x1="2.62549" y1="1.25006" x2="13.8755" y2="16.2501"
				gradientUnits="userSpaceOnUse">
				<stop stop-color="#f84119" />
				<stop offset="1" stop-color="#f89f19" stop-opacity="1" />
			</linearGradient>

			<!-- Mask -->
			<mask id="star-fill--partly">
				<rect x="0" y="0" width="18" height="16" fill="white" />
				<rect x="50%" y="0" width="18" height="16" fill="black" />
			</mask>

			<symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 16" id="star">
				<path stroke="url(#star-stroke)" stroke-linejoin="round"
					d="M16.875 6.313h-6.047L9 .688 7.172 6.313H1.125l4.922 3.375-1.899 5.624L9 11.797l4.852 3.515-1.899-5.624 4.922-3.376Z" />
			</symbol>
		</defs>
	</svg>
</div>
<!-- STAR SVG Template - END - DON'T CHANGE!!! -->

<!-- ! Шаблон контейнера для розміщення Stars-Rating (110рх х 16рх). Вставте його в кожний блок своєї розмітки, де має бути присутнім Stars-Rating, та розкоментуйте його.
		! Template of container markup for Stars-rating (110px x 16px). Paste it into the markup as is, where appropriate, and uncomment it. -->
<!-- Stars-Rating - START -->

<!-- <div class="stars-container"></div> -->

<!-- Stars-Rating - START -->