<section class="weekly-trends-section section">
  <div class="main-container">
    <div class="weekly-trends-section-text">
      <h3 class="section-title">weekly trends</h3>

      <a href="./catalog.html" class="see-all-link link">See all</a>
    </div>
    <ul class="cards-list list listListener">
      <!-- <li class="card-item item">
        <img class="film-poster" src="#" alt="" />
        <div class="overlay">
          <div class="film-info">
            <p class="film-title">Ghosted</p>
            <div class="film-details">
              <span class="film-description">Drama, Action | 2023</span>
              <span class="film-rating">5.0</span>
            </div>
          </div>
        </div>
      </li>

      <li class="card-item item">
        <img class="film-poster" src="#" alt="" />
        <div class="overlay">
          <div class="film-info">
            <p class="film-title">Ghosted</p>
            <div class="film-details">
              <span class="film-description">Drama, Action | 2023</span>
              <span class="film-rating">5.0</span>
            </div>
          </div>
        </div>
      </li>

      <li class="card-item item">
        <img class="film-poster" src="#" alt="" />
        <div class="overlay">
          <div class="film-info">
            <p class="film-title">Ghosted</p>
            <div class="film-details">
              <span class="film-description">Drama, Action | 2023</span>
              <span class="film-rating">5.0</span>
            </div>
          </div>
        </div>
      </li> -->
    </ul>
  </div>
</section>