header {
  position: relative;
}

.header__container {
  min-height: 48px;
  background-color: #000000;
}
@media screen and (min-width: 280px) {
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    min-height: 60px;
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .header__container {
    min-height: 60px;
    display: flex;
  }
}
.link {
  text-decoration: none;
}

.header__logo {
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 170px;
    height: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    width: 200px;
    height: 56px;
  }
}

.container__logo {
  display: flex;
  align-items: center;
}

.logo-img {
  max-width: 32px;
  height: 32px;
}
@media screen and (min-width: 768px) {
  .logo-img {
    height: 48px;
    max-width: 48px;
    margin-right: 8px;
  }
}

.logo-text {
  display: none;
}
@media screen and (min-width: 768px) {
  .logo-text {
    display: block;
    margin-left: 10px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
  }
}

.header__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .header__list {
    gap: 40px;
  }
}

.header__nav-link {
  display: block;
  text-align: center;
  color: #b7b7b7;
}
.header__nav-link:hover,
.header__nav-link:focus {
  transition: color 0.6s, transform 0.6s;
  transform: scale(1.2);
  color: #f87719;
}
@media screen and (min-width: 768px) {
  .header__nav-link {
    padding: 22px 0;
  }
}
.current__nav-link {
  color: #f87719;
}

/*  MOBILE MENU NAVIGATION BLOCK */

@media screen and (min-width: 768px) {
  .header__nav {
    margin-right: 120px;
    margin-left: 59px;
  }
}
@media screen and (max-width: 767px) {
  .header__nav {
    position: absolute;
    top: 0;
    left: -64%;
    width: 64%;
    height: 100vh;
    z-index: 10;
    transition: left 0.3s ease-in-out;
    background-color: #171717;
    border-radius: 0px 8px 8px 0px;
  }
}

.mobile-menu {
  padding: 8px 20px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
}

.mobile-menu__item {
  padding: 10px;
  text-align: left;
  color: #ffffff;
}
.mobile-menu__item:hover,
.mobile-menu__item:focus {
  transition: color 0.6s;
  color: #f87719;
}
.mobile-menu__link {
  padding: 10px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}
.mobile-menu__link:hover,
.mobile-menu__link:focus {
  transition: color 0.75s;
  color: #f87719;
}
.current__nav-link {
  color: #f87719;
}

#menu {
  padding: 17px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #b7b7b7;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#menu:hover,
#menu:focus {
  transition: color 0.6s;
  color: #f87719;
}

@media screen and (min-width: 768px) {
  #menu {
    display: none;
  }
}

/* // SWITCHER */

.switcher {
  width: 38px;
  height: 16px;
  padding: 4px;
  background: linear-gradient(141.22deg, #f8bb20 9.4%, #f53f16 92.9%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .switcher {
    height: 20px;
    width: 54px;
    padding: 5px;
  }
}

@media screen and (min-width: 1280px) {
  .switcher {
    padding: 3px;
    width: 60px;
    height: 24px;
  }
}

.switch-icon {
  align-items: center;
  display: flex;
}
.header__icon-moon {
  width: 8px;
  height: 8px;
}
@media screen and (min-width: 768px) {
  .header__icon-moon {
    width: 10px;
    height: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .header__icon-moon {
    width: 14px;
    height: 14px;
  }
}

.header__icon-sun {
  width: 8px;
  height: 8px;
}
@media screen and (min-width: 768px) {
  .header__icon-sun {
    width: 11px;
    height: 11px;
  }
}

@media screen and (min-width: 1280px) {
  .header__icon-sun {
    width: 14px;
    height: 14px;
  }
}
.switcher__ball {
  transition-duration: 500ms;
  position: absolute;
  width: 12px;
  height: 12px;
  left: 25px;
  top: 2px;
  right: 2px;
  background-repeat: no-repeat;
  cursor: pointer;
  fill: #595959;
  background-image: url("../images/ball.svg");
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .switcher__ball {
    left: 35px;
    width: 16px;
    height: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .switcher__ball {
    left: 40px;
    top: 3px;
    width: 18px;
    height: 18px;
  }
}

.light .switcher__ball {
  transform: translateX(-23px) rotate(-180deg);
}

@media screen and (min-width: 768px) {
  .light .switcher__ball {
    transform: translateX(-33px) rotate(-180deg);
  }
}

@media screen and (min-width: 1280px) {
  .light .switcher__ball {
    transform: translateX(-38px) rotate(-180deg);
  }
}

/* OVERLAY */

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(97, 89, 89, 0.2);
  z-index: 5;
  display: none;
}

/* Switcher change header */