/* dropdawn */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
  display: block;
  border: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* / dropdawn */

.main-container {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 320px) {
  .main-container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .main-container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .main-container {
    width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.upcoming__img-container {
  background-size: cover;
  /* background-position: -68px; */
  background-position: center;

  width: 280px;
  height: 402px;

  border-radius: 5px;
}

.upcoming__poster {
  /* display: block; */
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .upcoming__img-container {
    /* background-position: unset; */
    width: 704px;
    height: 400px;
  }
}

@media screen and (min-width: 1280px) {
  .upcoming__img-container {
    width: 805px;
    height: 458px;
  }
}
