@import '../../node_modules/modern-normalize/modern-normalize.css';
@import './header.css'; 
@import './hero.css';
@import './weekly-trands.css';
@import './footer.css';

/* dropdawn */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
  display: block;
  border: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* / dropdawn */

.main-container {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 320px) {
  .main-container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .main-container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .main-container {
    width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }
}