

.library-card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    mask-repeat: 32px;
    margin-left: 32px;
}

.library-info {
    width: 584px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.library-info-info {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 36px;
}