.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .modal-content {
    margin: 15% auto;
    height: auto;
    max-width: 600px;
    background-color: #111111;
    box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
    border-radius: 20px;
    text-align: left;
    color: #ffffff;
    padding: 20px;
    position: relative; /* Додано позицію relative */
  }

  .error-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .error-message {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.16;
    color: #FFFFFF;
  }


  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: transparent; /* Змінено фон на transparent */
  }

  .close-button svg {
    fill: #ffffff;
    width: 10.5px;
    height: 10.5px;
    background-color: transparent; /* Змінено фон на transparent */
  }


  @media screen and (max-width: 767px) {
    .modal-content {
      max-width: 90%;
    }

    .modal-content iframe {
      width: 100%;
      height: 0;

      min-height: 300px; 
    }

    .modal-content iframe[src^="https://www.youtube.com/embed/"] {
      height: 100%;
    }

    .error-message {
        padding: 150 0px;
      }  
  }

  @media screen and (max-width: 767px) {
    .error-message {
      font-size: 16px;
      line-height: 1.18;
      padding: 13px;
    }

    .error-content {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    }


  }