.modal-film-is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.body--modal-open {
  overflow: hidden;
  padding-right: 17px 
  
}
.modal-info-film-backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.25);
}
.modal-about-film {
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #111111;
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  border-radius: 16px;
}
.modal__close-btn {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-top: 10px;
  background: #111111;
  cursor: pointer;
  stroke: #ffffff;
}
.modal__close-icon {
  width: 25px;
  height: 25px;

  fill: #ffffff;
 
}
.modal__close-btn:focus,
.modal__close-btn:hover {
  stroke: #f87719;
}
.modal-film-info-wrapper {
  padding-top: 5px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 52px;
}

.modal-film-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-film-img {
  border-radius: 5px;
}
.film-text-info-wrapper {
  margin-top: 22px;
}
.modal-film-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  /* margin-left: 16px; */
  margin-bottom: 30px;
  color: #ffffff;
}
.modal-film-info-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.modal-film-info-item {
  margin-bottom: 12px;
  display: grid;
  align-items: start;
  gap: 14px;
  grid-template-columns: repeat(2, 1fr);
}
.modal-film-info-item:last-child {
  margin-bottom: 10px;
}

.modal-film-info-label {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #b7b7b7;
}
.modal-film-info-desc {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;
}
.desc-voted {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #111111;
  background: #ffffff;
  border-radius: 5px;

  padding: 1px 8px;
}
.container-film-descr {
  width: 248px;
  max-height: 180px;
  overflow: auto;
  margin-top: 12px;
  margin-bottom: 16px;
}
.container-film-descr::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.film-info__desc--normal-text {
  width: 170px;
  overflow-wrap: break-woicord;
}
.modal-film__description {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #f8f8f8;
  
}

.modal-btn-add-libr {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  font-size: 17px;
  font-weight: normal;
  color: #fff;
  outline: none;
  border: none;
  position: relative;
  z-index: 2;
  padding: 12px 24px;
  border-radius: 74px;
  background-color: #111111;
  background-image: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%),
    linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  background-size: 100% 2px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
}
.modal-btn-add-libr:before,
.modal-btn-add-libr:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  bottom: 0;
  width: 21px;
  border: 2px solid #ffc226;
  border-right: none;
  border-radius: 74px 0 0 74px;
}
.modal-btn-add-libr:after {
  border: 2px solid #f84119;
  border-left: none;
  left: auto;
  right: 0;
  border-radius: 0 74px 74px 0;
}
.modal-btn-add-libr span {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #ffffff;
}
.modal-btn-add-libr:hover,
.modal-btn-add-libr:focus {
  background: #ffffff;

  transition: all 0.5s;
  color:#F87719;

}
.modal-btn-add-libr:hover .btn-mod-text {
  -webkit-text-fill-color: #f87719;
}
.modal-btn-add-libr:hover:before,
.modal-btn-add-libr:hover:after {
  border: 0px;
}
@media screen and (min-width: 320px) {
  .modal-about-film {
    width: 280px;
  }
  .modal-wrapper-img {
    width: 248px;
    height: 315px;
    margin-top: 14px;
    border-radius: 5px;
    
  }
}

@media screen and (min-width: 768px) {
  .modal-film-info-wrapper {
    padding-top: 3px;
    padding-left: 44px;
    padding-right: 44px;
    padding-bottom: 44px;
  }
  .modal-about-film {
    top: 50%;
    width: 704px;
  }
  .modal__close-btn {
    margin-top: 20px;
    margin-right: 20px;
  }
  .modal-film-info-wrapper {
    display: flex;
  }
  .film-text-info-wrapper {
    margin-top: 10px;
  }
  .modal-wrapper-img {
    width: 294px;
    height: 400px;
    padding-right: 16px;
    padding-bottom: 44px;
   
  }

  .modal-film-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 25px;
  }

  .modal-film-info-item:last-child {
    margin-bottom: 20px;
  }
  .container-film-descr {
    width: 350px;
    height: 140px;
    margin-bottom: 24px;
  }
  .modal-film-title {
    font-size: 24px;
    line-height: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-film-info-wrapper {
    padding-top: 4px;
    padding-left: 60px;
    padding-right: 55px;
    padding-bottom: 55px;
  }
  .modal-about-film {
    width: 846px;
    height: 598px;
    border-radius: 20px;
  }
  .modal__close-btn {
    margin-top: 20px;
    margin-right: 26px;
  }
  .modal-wrapper-img {
    width: 375px;
    height: 478px;
    padding-bottom: 0px;
    padding-right: 20px;
  }
  .desc-voted {
    font-size: 14px;
  }
  .modal-film-title {
    line-height: 32px;
    margin-bottom: 28px;
  }
  .modal-film-info-label {
    font-size: 16px;
    line-height: 19px;
  }
  .container-film-descr {
    width: 360px;
    height: 159px;
    margin-bottom: 36px;
  }
  .modal-film-info-desc {
    font-size: 16px;
    line-height: 19px;
  }
  .film-info__desc--normal-text {
    width: 180px;
  }
  .modal-film__description {
    font-size: 14px;
  }
}
