/* ! Підключити до стилів кожної сторінки, де є зірковий рейтинг */

.star-template--hidden {
  width: 0;
  height: 0;
}

div.stars-container > p.stars-absent {
  margin-block: 0;

  font-size: 14px;
  font-weight: 500;
  line-height: calc(16 / 14);
  text-align: right;
  color: #f87719;
}

.stars-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  min-width: 111px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.stars-container--hero {
  justify-content: flex-start;

  min-width: 140px;
  padding-bottom: 0;
  padding-left: 0;
}

.stars-list {
  display: flex;
  gap: 4px;

  width: calc(18px * 5 + 4px * 4);
  margin-block: 0;
  padding-left: 0;
}

.stars-list--hero {
  gap: 5px;
  width: calc(24px * 5 + 5px * 4);
}

.stars-list__item {
  list-style: none;
}

.stars-list__img {
  display: block;
  width: 18px;
  height: 18px;
}

.stars-list__img--hero {
  width: 24px;
  height: 24px;
}
