/* ! Підключити до стилів кожної сторінки, де є зірковий рейтинг */

.star-template--hidden {
  width: 0;
  height: 0;
}

.stars-container {
  display: flex;
  min-width: 110px;
  justify-content: end;
  align-items: center;
  /* height: 16px; */
}

.stars-container--hero {
  min-width: 135px;
  justify-content: start;
  /* height: 21px; */
}

.stars-absent {
  margin-block: 0;

  font-size: 14px;
  font-weight: 500;
  line-height: calc(16 / 14);
  text-align: right;
  color: #b7b7b7;
}

.stars-list {
  display: flex;
  gap: 4px;

  width: calc(18px * 5 + 4px * 4);
  margin-block: 0;
  padding-left: 0;
}

.stars-list--hero {
  gap: 5px;
  width: calc(23px * 5 + 5px * 4);
}

.stars-list__item {
  list-style: none;
}

.stars-list__img {
  display: block;
  width: 18px;
  height: 16px;
}

.stars-list__img--hero {
  width: 23px;
  height: 21px;
}
