body {
  margin: 0;
}

.upcoming-container {
  padding-top: 20px;
  padding-bottom: 20px;

  /* color: #F8F8F8; */
  color: #282828;
}

.upcoming__title {
  margin-bottom: 24px;
  margin-left: 20px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);

  color: #111111;
  text-transform: uppercase;
}

.upcoming-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upcoming-card__layout {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  width: 280px;
  height: 402px;

  background-image: linear-gradient(
    307.47deg,
    rgba(0, 0, 0, 0.2) 23.85%,
    rgba(0, 0, 0, 0) 47.27%
  );
  border-radius: 5px;
}

.upcoming-card__figure {
  position: relative;
  width: 280px;
  height: 402px;
  margin-bottom: 24px;
  border-radius: 5px;
}

.upcoming-card__img {
  /* display: block; */
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.upcoming-card__body {
  /* display: flex; */
  padding-right: 20px;
  padding-left: 20px;
}

.metrics-list__main-container {
  margin-bottom: 20px;
}

.upcoming-card__title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(23 / 20);
  color: #111111;
}

.metrics-list__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.metrics-list__item:not(:last-child) {
  margin-bottom: 12px;
}

.vote-wrapper {
  padding: 1px 8px;

  font-size: 14px;
  line-height: calc(16 / 14);
  color: #282828;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.vote-wrapper:first-child {
  margin-right: 4px;
}
.vote-wrapper:last-child {
  margin-left: 4px;
}

.metrics-text {
  font-size: 16px;
  line-height: 19px;
}

.metrics-text:first-child {
  color: #111111;
}

.metrics-text--date {
  color: #f87719;
}

.metrics-text--vote {
  color: #f8f8f8;
}

.upcoming-card__subtitle {
  margin-bottom: 16px;
  font-weight: 500;
  color: #111111;
}

.upcoming-card__text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
}

@media screen and (min-width: 768px) {
  .upcoming-container {
    padding-left: 0;
    padding-right: 0;
  }

  .upcoming__title {
    margin-left: 32px;
    font-size: 24px;
    line-height: calc(28 / 24);
  }

  .upcoming-card__body {
    padding-right: 32px;
    padding-left: 32px;
  }

  .upcoming-card__layout {
    display: block;
  }

  .upcoming-card__layout,
  .upcoming-card__figure {
    margin-bottom: 32px;
    width: 704px;
    height: 400px;
  }

  .upcoming-card__title {
    margin-bottom: 24px;
    font-size: 28px;
    line-height: calc(33 / 28);
  }

  .metrics-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  .metrics-list__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .upcoming-container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .upcoming__title {
    margin-bottom: 28px;
    font-size: 28px;
    line-height: calc(33 / 28);
  }

  .upcoming-card__body {
    padding-right: 0;
    padding-left: 16px;
    max-width: 390px;
    max-height: 458px;
  }

  .upcoming-card {
    flex-direction: row;
    align-items: start;
  }

  .upcoming-card__layout,
  .upcoming-card__figure {
    margin-bottom: 0;
    width: 805px;
    height: 458px;
  }

  .upcoming-card__body {
    display: flex;
    flex-direction: column;
  }

  .upcoming-card__title {
    margin-bottom: 28px;
    font-size: 32px;
    line-height: calc(38 / 32);
  }

  .metrics-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .metrics-list__item:not(:last-child) {
    margin-bottom: 0;
  }

  .upcoming-card__text {
    max-height: 152px;
    overflow: scroll;
  }

  .btn {
    align-self: start;
  }
}
