:root {
  --accent-color: #f87719;
  --background-dark-color: #111111;
  --secondary-black-color: #282828;
  --grey-color: #b7b7b7;
  --primary-text-color: #fff;
  --secondary-text-color: #f8f8f8;
}

body {
  margin: 0;
}

.upcoming-container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  min-height: 757px;

  /* color: var(--secondary-black-color); */
  color: var(--secondary-text-color);
  background-color: var(--background-dark-color);
  font-family: 'Roboto';
}

.upcoming__title {
  margin-bottom: 24px;
  margin-left: 20px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);

  /* color: var(--background-dark-color); */
  color: var(--primary-text-color);
  text-transform: uppercase;
}

.upcoming-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upcoming-card__layout {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  width: 280px;
  height: 402px;

  background-image: linear-gradient(
    307.47deg,
    rgba(0, 0, 0, 0.2) 23.85%,
    rgba(0, 0, 0, 0) 47.27%
  );
  border-radius: 5px;
}

.upcoming-card__figure {
  position: relative;
  width: 280px;
  height: 402px;
  margin-bottom: 24px;
  border-radius: 5px;
}

.upcoming-card__img {
  /* display: block; */
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.upcoming-card__body {
  /* display: flex; */
  padding-right: 20px;
  padding-left: 20px;
}

.metrics-list__main-container {
  margin-bottom: 20px;
}

.upcoming-card__title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(23 / 20);
  /* color: var(--background-dark-color); */
  color: var(--primary-text-color);
}

.metrics-list__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.metrics-list__item:not(:last-child) {
  margin-bottom: 12px;
}

.vote-wrapper {
  padding: 1px 8px;

  font-size: 14px;
  line-height: calc(16 / 14);
  /* color: var(--secondary-black-color); */
  color: var(--background-dark-color);
  /* background-color: var(--secondary-text-color); */
  background-color: var(--primary-text-color);
  border-radius: 5px;
}

.vote-wrapper:first-child {
  margin-right: 4px;
}
.vote-wrapper:last-child {
  margin-left: 4px;
}

.metrics-text {
  font-size: 16px;
  line-height: 19px;
  color: var(--primary-text-color);
}

.metrics-text:first-child {
  /* color: var(--background-dark-color); */
  color: var(--grey-color);
}

.metrics-text--date {
  color: var(--accent-color);
}

.metrics-text--vote {
  color: var(--secondary-text-color);
  /* color: var(--background-dark-color); */
}

.upcoming-card__subtitle {
  margin-bottom: 16px;
  font-weight: 500;
  /* color: var(--background-dark-color); */
  color: var(--grey-color);
}

.upcoming-card__text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
}

.btn {
  padding: 11px 23px;
  font-size: 12px;
  line-height: calc(14 / 12);

  font-family: 'Roboto';
  font-weight: 500;

  color: var(--background-dark-color);
  background-color: var(--accent-color);
  background-image: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  /* border: 1px solid var(--primary-text-color); */
  border: 1px solid var(--primary-text-color);
  border-radius: 74px;

  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover {
  color: var(--accent-color);
  background-color: var(--primary-text-color);
  background-image: unset;
  border-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .upcoming-container {
    width: 768px;
    min-height: 757px;
  }

  .upcoming__title {
    margin-left: 32px;
    font-size: 24px;
    line-height: calc(28 / 24);
  }

  .upcoming-card__body {
    padding-right: 32px;
    padding-left: 32px;
  }

  .upcoming-card__layout {
    display: block;
  }

  .upcoming-card__layout,
  .upcoming-card__figure {
    margin-bottom: 32px;
    width: 704px;
    height: 400px;
  }

  .upcoming-card__title {
    margin-bottom: 24px;
    font-size: 28px;
    line-height: calc(33 / 28);
  }

  .metrics-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  .metrics-list__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .upcoming-container {
    width: 1280px;

    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 518px;
  }

  .upcoming__title {
    margin-bottom: 28px;
    font-size: 28px;
    line-height: calc(33 / 28);
  }

  .upcoming-card {
    flex-direction: row;
    align-items: start;
  }

  .upcoming-card__layout,
  .upcoming-card__figure {
    margin-right: 16px;
    margin-bottom: 0;
    width: 805px;
    height: 458px;
  }

  .upcoming-card__body {
    display: flex;
    flex-direction: column;

    padding-right: 0;
    padding-left: 0;
    max-width: 390px;
    max-height: 458px;
  }

  .upcoming-card__title {
    margin-bottom: 28px;
    font-size: 32px;
    line-height: calc(38 / 32);
  }

  .metrics-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .metrics-list__item:not(:last-child) {
    margin-bottom: 0;
  }

  .upcoming-card__text {
    /* max-height: 152px; */
    overflow-y: auto;
  }

  .upcoming-card__text::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  .btn {
    align-self: start;
    /* justify-self: flex-end; */
  }
}
